.settings {
    display: flex;

}

.settingsWrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.settingsDeleteTitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingPP {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 1rem;
}

.settingPP > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsPPIcon {
    background-color: lightcoral;
    color: white;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    cursor: pointer;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.settingsSubmit {
    border: none;
    align-self: center;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    margin-top: 20px;
}